In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import spacy # for NLP
import en_core_web_md #word2vec model from spacy
import time
import pickle

In [2]:
df_train = pd.read_csv("data/train.csv")

In [3]:
df_train

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
6,6,13,14,Should I buy tiago?,What keeps childern active and far from phone ...,0
7,7,15,16,How can I be a good geologist?,What should I do to be a great geologist?,1
8,8,17,18,When do you use シ instead of し?,"When do you use ""&"" instead of ""and""?",0
9,9,19,20,Motorola (company): Can I hack my Charter Moto...,How do I hack Motorola DCX3400 for free internet?,0
10,10,21,22,Method to find separation of slits using fresn...,What are some of the things technicians can te...,0
11,11,23,24,How do I read and find my YouTube comments?,How can I see all my Youtube comments?,1
12,12,25,26,What can make Physics easy to learn?,How can you make physics easy to learn?,1
13,13,27,28,What was your first sexual experience like?,What was your first sexual experience?,1
14,14,29,30,What are the laws to change your status from a...,What are the laws to change your status from a...,0
15,15,31,32,What would a Trump presidency mean for current...,How will a Trump presidency affect the student...,1
16,16,33,34,What does manipulation mean?,What does manipulation means?,1
17,17,35,36,Why do girls want to be friends with the guy t...,How do guys feel after rejecting a girl?,0
18,18,37,38,Why are so many Quora users posting questions ...,Why do people ask Quora questions which can be...,1
19,19,39,40,Which is the best digital marketing institutio...,Which is the best digital marketing institute ...,0
20,20,41,42,Why do rockets look white?,Why are rockets and boosters painted white?,1
21,21,43,44,What's causing someone to be jealous?,What can I do to avoid being jealous of someone?,0
22,22,45,46,What are the questions should not ask on Quora?,Which question should I ask on Quora?,0
23,23,47,48,How much is 30 kV in HP?,Where can I find a conversion chart for CC to ...,0
24,24,49,50,What does it mean that every time I look at th...,How many times a day do a clock’s hands overlap?,0
25,25,51,52,What are some tips on making it through the jo...,What are some tips on making it through the jo...,0
26,26,53,54,What is web application?,What is the web application framework?,0
27,27,55,56,Does society place too much importance on sports?,How do sports contribute to the society?,0
28,28,57,58,What is best way to make money online?,What is best way to ask for money online?,0
29,29,59,60,How should I prepare for CA final law?,How one should know that he/she completely pre...,1
...,...,...,...,...,...,...
404260,404260,182494,691,Which phone is best under 12000?,What is the best phone to buy below 15k?,0
404261,404261,281150,124172,Who is the overall most popular Game of Throne...,Who is the most popular character in the Game ...,1
404262,404262,537905,466328,How do you troubleshoot a Toshiba laptop?,How do I reset a Toshiba laptop?,0
404263,404263,375195,537906,How does the burning of fossil fuels contribut...,Why does CO2 contribute more to global warming...,0
404264,404264,537907,537908,Is it safe to store an external battery power ...,How do I make a safe and cheap power bank?,0
404265,404265,25994,16064,How can I gain weight on my body?,What should I eat to gain weight?,1
404266,404266,155813,146284,What is the green dot next to the phone icon o...,My boyfriend says he deleted his Facebook Mess...,0
404267,404267,20171,290649,What are the causes of the fall of the Roman E...,What were the most important causes and effect...,1
404268,404268,537909,537910,Why don't we still do great music like in the ...,Should I raise my young child on 80's music?,0
404269,404269,537911,349794,How do you diagnose antisocial personality dis...,What Does It Feel Like to have antisocial pers...,0
404270,404270,537912,35364,What is the difference between who and how?,"What is the difference between ""&"" and ""and""?",0
404271,404271,537913,537914,Does Stalin have any grandchildren that are st...,What was Joseph Stalin's 5 year plan? How did ...,0
404272,404272,128018,14005,What are the best new car products or inventio...,What are some mind-blowing vehicles tools that...,1
404273,404273,537915,537916,What happens if you put milk in a coffee maker?,What would happen if I put milk instead of wat...,1
404274,404274,178643,87385,Will the next generation of parenting change o...,What kind of parents will the next generation ...,1
404275,404275,97922,537917,"In accounting, why do we debit expenses and cr...",What is a utilities expense in accounting? How...,0
404276,404276,24305,308365,What is copilotsearch.com?,What is ContenVania.com?,0
404277,404277,355668,537918,What does analytics do?,What are analytical people like?,0
404278,404278,537919,169786,How did you prepare for AIIMS/NEET/AIPMT?,How did you prepare for the AIIMS UG entrance ...,0
404279,404279,537920,537921,What is the minimum time required to build a f...,What is a cheaper and quicker way to build an ...,0
404280,404280,537922,537923,What are some outfit ideas to wear to a frat p...,What are some outfit ideas wear to a frat them...,1
404281,404281,99131,81495,Why is Manaphy childish in Pokémon Ranger and ...,Why is Manaphy annoying in Pokemon ranger and ...,1
404282,404282,1931,16773,How does a long distance relationship work?,How are long distance relationships maintained?,1
404283,404283,537924,537925,What do you think of the removal of the MagSaf...,What will the CPU upgrade to the 2016 Apple Ma...,0
404284,404284,537926,537927,What does Jainism say about homosexuality?,What does Jainism say about Gays and Homosexua...,1
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,404287,537928,537929,What is one coin?,What's this coin?,0
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [4]:
question_1, question_2, labels = df_train['question1'].astype(str), df_train['question2'].astype(str), df_train['is_duplicate'].astype(int)

In [5]:
question_1

0         What is the step by step guide to invest in sh...
1         What is the story of Kohinoor (Koh-i-Noor) Dia...
2         How can I increase the speed of my internet co...
3         Why am I mentally very lonely? How can I solve...
4         Which one dissolve in water quikly sugar, salt...
5         Astrology: I am a Capricorn Sun Cap moon and c...
6                                       Should I buy tiago?
7                            How can I be a good geologist?
8                           When do you use シ instead of し?
9         Motorola (company): Can I hack my Charter Moto...
10        Method to find separation of slits using fresn...
11              How do I read and find my YouTube comments?
12                     What can make Physics easy to learn?
13              What was your first sexual experience like?
14        What are the laws to change your status from a...
15        What would a Trump presidency mean for current...
16                             What does manipulation mean?
17        Why do girls want to be friends with the guy t...
18        Why are so many Quora users posting questions ...
19        Which is the best digital marketing institutio...
20                               Why do rockets look white?
21                    What's causing someone to be jealous?
22          What are the questions should not ask on Quora?
23                                 How much is 30 kV in HP?
24        What does it mean that every time I look at th...
25        What are some tips on making it through the jo...
26                                 What is web application?
27        Does society place too much importance on sports?
28                   What is best way to make money online?
29                   How should I prepare for CA final law?
                                ...
404260                     Which phone is best under 12000?
404261    Who is the overall most popular Game of Throne...
404262            How do you troubleshoot a Toshiba laptop?
404263    How does the burning of fossil fuels contribut...
404264    Is it safe to store an external battery power ...
404265                    How can I gain weight on my body?
404266    What is the green dot next to the phone icon o...
404267    What are the causes of the fall of the Roman E...
404268    Why don't we still do great music like in the ...
404269    How do you diagnose antisocial personality dis...
404270          What is the difference between who and how?
404271    Does Stalin have any grandchildren that are st...
404272    What are the best new car products or inventio...
404273      What happens if you put milk in a coffee maker?
404274    Will the next generation of parenting change o...
404275    In accounting, why do we debit expenses and cr...
404276                           What is copilotsearch.com?
404277                              What does analytics do?
404278            How did you prepare for AIIMS/NEET/AIPMT?
404279    What is the minimum time required to build a f...
404280    What are some outfit ideas to wear to a frat p...
404281    Why is Manaphy childish in Pokémon Ranger and ...
404282          How does a long distance relationship work?
404283    What do you think of the removal of the MagSaf...
404284           What does Jainism say about homosexuality?
404285    How many keywords are there in the Racket prog...
404286            Do you believe there is life after death?
404287                                    What is one coin?
404288    What is the approx annual cost of living while...
404289                What is like to have sex with cousin?
Name: question1, dtype: object

In [6]:

nlp = en_core_web_md.load()  # load best-matching version for Glove

In [12]:
def load_glove_embeddings(vocab, num_unknown=100):
    #num_unknown: Specify the number of unknown words for putting in the embedding matrix
    if not isinstance(vocab, spacy.vocab.Vocab):
        raise TypeError("The input `vocab` must be type of 'spacy.vocab.Vocab', not %s." % type(vocab))

    max_vector_length = max(lex.rank for lex in vocab) + 1  # index start from 1
    matrix = np.zeros((max_vector_length + num_unknown + 2, vocab.vectors_length), dtype='float32')  # 2 for <PAD> and <EOS>

    # Normalization
    for lex in vocab:
        if lex.has_vector:
            matrix[lex.rank + 1] = lex.vector / lex.vector_norm

    return matrix

In [8]:
print('Vector dimension is: ;', nlp.vocab.vectors_length)

Vector dimension is: ; 300

In [9]:
nlp.vocab[81]

In [10]:
print('Non zero Vector index starts at : 81 ')
nlp.vocab[81].vector

Non zero Vector index starts at : 81

array([-0.36815   , -0.13229001, -0.13530999, -0.54198003, -0.26120999,
       -0.17507   ,  0.25560001, -0.86040998, -0.002097  ,  0.64282   ,
       -0.27179   ,  0.15383001,  0.29422   , -0.17186999, -0.11058   ,
       -0.19616   , -0.25121999,  0.67374998,  0.23431   ,  0.02363   ,
        0.18122   , -0.11498   , -0.10616   , -0.27720001,  0.19796   ,
       -0.69883001, -0.027885  , -0.20543   ,  0.23604999,  0.022083  ,
       -0.061039  ,  0.37228   ,  0.35822999, -0.060372  , -0.19607   ,
        0.20029999,  0.62234002,  0.58771998,  0.054737  , -0.17061   ,
       -0.079896  , -0.21762   , -0.13936999,  0.088916  ,  0.15880001,
        0.31191   ,  0.52108997, -0.40202999, -0.19809   ,  0.16421001,
        0.14969   ,  0.12556   ,  0.51266998, -0.0027256 , -0.30496001,
        0.16698   , -0.1534    , -0.14580999,  0.59897   ,  0.15702   ,
       -0.10578   , -0.18849   , -0.16946   ,  0.30807999,  0.0050163 ,
       -0.31298   , -0.16359   , -0.13022999,  0.12756   ,  0.12487   ,
        0.094544  ,  0.53836   , -0.019803  ,  0.12824   ,  0.075131  ,
       -0.095014  , -0.17598   ,  0.40582001, -0.31564   ,  0.14884999,
       -0.14827999,  0.031435  , -0.081776  , -0.018804  , -0.31490001,
       -0.042563  ,  1.75800002, -0.82387   ,  0.2967    , -0.42907   ,
       -0.22533999, -0.55281001, -0.087504  ,  0.0024355 ,  0.33318001,
       -0.17331   ,  0.31606999,  0.24919   , -0.094404  ,  0.76530999,
       -0.28066   , -0.30247   ,  0.093402  , -0.069276  ,  0.25953999,
       -0.78096002,  0.29150999, -0.10485   , -0.30783001, -0.092852  ,
       -0.21973   , -0.62414998, -0.15731999, -0.0077888 , -0.18334   ,
        0.51327997,  0.041306  , -0.56566   , -0.57286   , -0.21112999,
        0.21338999,  0.0082395 ,  0.22413   , -0.22648001,  0.23755001,
        0.35512   ,  0.051946  , -0.19355001,  0.44641   , -0.55707002,
        0.17776   ,  0.39552999, -0.45750001,  0.23222999,  0.56522   ,
       -0.24700999, -0.025533  ,  0.11154   , -0.59952998, -0.16956   ,
       -1.74670005,  0.27355999,  0.07876   ,  0.14891   ,  0.054639  ,
        0.0091015 , -0.67962998,  0.21371   , -0.17725   , -0.061354  ,
       -0.18233   ,  0.067974  ,  0.47308001, -0.43853   ,  0.20093   ,
        0.032167  ,  0.53781998, -0.17271   ,  0.22420999, -0.35824999,
        0.0036568 ,  0.24690001, -0.38958001, -0.1182    , -0.13082001,
        0.040406  , -0.33232   ,  0.32864001,  0.028684  , -0.15149   ,
       -0.12964   , -0.083279  ,  0.12419   , -0.24455   , -0.053604  ,
       -0.098498  , -0.45262   ,  0.18314999, -0.055619  , -0.016488  ,
        0.22385   , -0.17664   , -0.51257998,  0.40421   , -0.1425    ,
       -0.22601999,  0.073638  , -0.34733   ,  0.15083   ,  0.20537999,
        0.61212999, -0.026599  , -0.74324   ,  0.1875    ,  0.74233001,
       -0.041359  ,  0.021934  , -0.30221   ,  0.28885001, -0.25268999,
        0.24101999, -0.17806   , -0.037483  , -0.063572  , -0.13469   ,
       -0.41705   , -0.54414999,  0.1134    , -0.059391  ,  0.13991   ,
       -0.16828001, -0.0072047 ,  0.099801  ,  0.10084   , -0.033255  ,
       -0.63656998, -0.24779999, -0.03754   , -0.053889  , -0.41964999,
        0.44132   , -0.39142999,  0.16484   , -0.40309   , -0.14169   ,
       -0.0083612 ,  0.070979  , -0.2766    ,  0.097553  , -0.41192001,
       -0.032838  , -0.16373999,  0.24217001,  0.36564001,  0.27418   ,
        0.051921  , -0.13958   ,  0.15583999, -0.60407001,  0.086218  ,
       -0.065782  ,  0.23567   ,  0.05892   ,  0.66525   , -0.10656   ,
       -0.10846   ,  0.40206999, -0.012892  ,  0.14591999,  0.02218   ,
        0.14217   , -0.23579   ,  0.083816  ,  0.14362   , -0.0064988 ,
       -0.49535   , -0.51573998,  0.24635001, -0.26102999, -0.3436    ,
        0.034739  ,  0.15696999,  0.45677   ,  0.045225  , -0.32717001,
       -0.13568   , -0.43752   ,  0.46757001,  0.30026001,  0.12364   ,
        0.39658999,  0.19988   , -0.086429  ,  0.24571   , -0.42715999,
        0.11535   , -0.062352  ,  0.064509  , -0.31492001,  0.21685   ,
        0.16298001,  0.031593  , -0.13362999, -0.069935  ,  0.033402  ,
       -0.055356  ,  0.31920999,  0.12531   , -0.030916  ,  0.29427999,
        0.077574  , -0.49167001, -0.47529   , -0.45800999,  0.41558   ,
       -0.087703  , -0.024689  ,  0.15475   , -0.070984  ,  0.24323   ], dtype=float32)

In [13]:
embedding_matrix = load_glove_embeddings(nlp.vocab)

In [14]:
embedding_matrix.shape

(1340396, 300)

In [ ]:
pickle.dump(embedding_matrix, open('spacy_embedding_matrix.p', 'wb'))

In [15]:
def _get_word_ids(docs, rnn_encode=False, tree_truncate=False, max_length=100, nr_unk=100):
    Xs = np.zeros((len(docs), max_length), dtype='int32')

    for i, doc in enumerate(docs):
        if tree_truncate:
            if isinstance(doc, Span):
                queue = [doc.root]
            else:
                queue = [sent.root for sent in doc.sents]
        else:
            queue = list(doc)
        words = []
        while len(words) <= max_length and queue:
            word = queue.pop(0)
            if rnn_encode or (not word.is_punct and not word.is_space):
                words.append(word)
            if tree_truncate:
                queue.extend(list(word.lefts))
                queue.extend(list(word.rights))
        words.sort()
        for j, token in enumerate(words):
            if token.has_vector:
                Xs[i, j] = token.rank + 1
            else:
                Xs[i, j] = (token.shape % (nr_unk - 1)) + 2
            j += 1
            if j >= max_length:
                break
        else:
            Xs[i, len(words)] = 1
    return Xs


def convert_questions_to_word_ids(question_1, question_2, nlp, max_length=50, n_threads=10, batch_size=128, encode=False, tree_truncate=False):
    Xs = []
    for texts in (question_1, question_2):
        Xs.append(_get_word_ids(list(nlp.pipe(texts, n_threads=n_threads, batch_size=batch_size)),
                                max_length=max_length,
                                rnn_encode=encode,
                                tree_truncate=tree_truncate))

    return Xs[0], Xs[1]

In [33]:
t1 = time.time()
q1_train, q2_train = convert_questions_to_word_ids(question_1, question_2, nlp)
t2 = time.time()

print('Elapsed tiem is: ', t2-t1)

Elapsed tiem is:  284.2206566333771

In [35]:
question_1[0], q1_train[0]

('What is the step by step guide to invest in share market in india?',
 array([  169,    12,     4,  1049,    84,  1049,  2490,     6,  3509,
           15,   977,   813,    15, 20120,     1,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0], dtype=int32))

In [36]:
question_2[0], q2_train[0]

('What is the step by step guide to invest in share market?',
 array([ 169,   12,    4, 1049,   84, 1049, 2490,    6, 3509,   15,  977,
         813,    1,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0], dtype=int32))

In [22]:
import dhira.input_preprocessor as ip

In [28]:
inp = ip.QuoraInputProcessor()
batches = inp.train_batch_iter(64)

In [30]:
# for batch in batches:
#     print(batch)

Generating batches for data of shape (363861, 3).
Number of batches per epoch :  5686
[[ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,   65,   15,    4,   27,    6, 1119, 1086,
         10,  366,   14, 5716,  405,    9,  463,    1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,    65,    15,     4,
          27,     6, 10946,  5515,    10,   366,    22,  5716,   405,
           9,   463,     1], dtype=int32)
  1]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    3,   35,    4,
         11,   52,   44,    5,   32,  236, 4190,    1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,    60,     4,    26,
         177, 12423,     9,     6,   236,  4190,    47,    35,     4,
          11,   110,     1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    3, 1679,   12,  121,    8,  818,    2,  545,
         23, 4618,   10,   58,  148,  705, 1761,    1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0, 36040,    10,    41,
        9671,  8768,     1], dtype=int32)
  0]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     3,
          12,    33,   147,    31,     4,    15,   105,    90, 10238,
          10,    20,  5492,    10,  1272,    13,    78,     8, 58146,
        5620,    85,     1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     3,     5,     6,    41,
       23653,    10,   152,   642,  7959,     8,  1272,  5492,    13,
        7194,   545,     1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    7,   11,    4,   80,  672,   10,  991,    8,   20,
        210,  179,  778,   22,  160, 2114, 2455,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    7,   75,   79,   15,   32,  210,  607,  201,   34,    6,
        157,  179,   22,    2,  160, 2114,  830,    1], dtype=int32)
  0]
 [ array([     0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,  10536,
            8,    713,   4232,   3666,      8,   3215, 146883, 135643,
        39577,    565,      5,   6070, 158237,   1702], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,   81,   20,  431,   77, 4561, 7255,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    3,   51,   28,    2,   54,    8,  443, 3116,   46,   32,
        309,   70,  304,  650,    9,  636,  123,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,  694,    6,  636,  309,
        304,  650, 1622,  113,   66,   15,    4,   27,    6, 1335,  595,
          9,   58,  393,   23, 5049,   23, 3116,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    7,   11,   16, 1531,
       8617,  259,   10,    6, 1971, 2003, 4672,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    7,   11,
          4, 1531,  259,   32,  145, 4672, 6790,    1], dtype=int32)
  1]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          7,   15,    4,  134,   20, 7655,  690,    1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     7,    15,     4,
         134,    20,   311,     9,  7655, 11255,   690,  5728,     9,
           6,   673,     1], dtype=int32)
  0]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     3,    12,     2,   916,  3553,    10,     6, 38387,
       10924,  1250,     1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           3,    12,     2,   916,  3553,    10,     6,  4527, 17095,
       10924,  1250,     1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,  163,    2,  132,   63,   12,
        787, 2140,  199,    9,  497,   10, 1512,   99,   63,  250,  172,
        277,  599, 5596,    9,    2, 2890,   17,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,   60,
         36,    5,    2,  787, 2140,    9, 1512,   92,   11,   72,   25,
         26, 4240, 5596,   40,  255,   23,  124,    1], dtype=int32)
  1]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,    17,    24,    25, 91961,   413,   672,    83,   763,
        6705,   785,     1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0, 8811,    4,   26,  306,
        979,   24,   25,   40,  261,  166, 4938,   92,   11,   43,  187,
       4182,   31,  130,   53,  250,  124,  763,    1], dtype=int32)
  0]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,    91, 21816, 33361,    13, 12230,
       16712,   794,     1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     3,    24, 21816, 33361,   102,    10,
       12230, 16712,     1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,   38,
          2, 1681,   10,   62,  624,    5,  108,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,   38,    2,  498,   10,
         62,  624,   28,  109, 5055,    9,  215,    1], dtype=int32)
  1]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     7,    24,
           2,   382,  1664,    10, 13386,   531,    34,     2,    96,
        1834, 55328,     1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    7,
          5,    6, 2906,  152,   34,   32,   96,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,   68,   96,  186,   40,
          8,  248, 4238,  467,   17,   17,   25,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
         68,   96,  271,   40,    8,  248, 6121,    1], dtype=int32)
  1]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     7,    15,
          49,  6326,    32,  1491, 28977,   236, 11674,    34,     6,
        1042,    49,     1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           7,    15,     4,  1114,    20,  8041,   103,     8,    20,
         236, 11674,     1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,   17,   11,  253,
        125,  437,   70,   72,   26, 3564, 1433,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,   21,   18, 1057,    8,   26,  127,
       3564, 1433,    9,    2,  327, 1340,  640,    1], dtype=int32)
  0]
 [ array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   7,  84, 462,  15,   4,
       956,  22,  61,   1], dtype=int32)
  array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   7,  11,   4, 956,  58,
       310,  34,  61,   1], dtype=int32)
  0]
 [ array([     0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      3,     12,     33, 140621,   3136,     31,     16,
           26,    414,   2148,      8,    292,      1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    7, 1416,    5,
          2, 2060,  417,   42, 5941, 3788, 1916,    1], dtype=int32)
  0]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     7,    11,     4,   158, 13467,
          69,    75,     1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     7,    15,    43,
         158, 13467,     1], dtype=int32)
  1]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     3,
         819,    15,     4,    11,    39,     4,    27, 24282,    34,
        1220,   338,     1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
         30,  574,   94,   87, 1220,   13, 2452,   12,  188,    8,   28,
        111,   14,  338,   13,    4,   35, 2629,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    7,  146,   71,   18,  119,   16,    8,
       1631,   25,    8,  135,    6, 2523,  236,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    3,   12,
          2,  503,  834,   43,  135, 2523, 1071,    1], dtype=int32)
  0]
 [ array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   7,  11,  16, 104,
         6, 642, 595,   1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    7,   15,    4,  104, 1528,  642,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,   59,    5,
       2185,    2, 1414,  763,  166,   23,  380,    1], dtype=int32)
  array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  59,  53, 250,
       166,  23, 380,   1], dtype=int32)
  1]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,    38,     4,    28,
         330,   571,    39,     4,   306,    34,  5959,   522,   141,
         330, 16651,     1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    7,   15,    4,   28, 1774,
          8, 3430,    6,  595,   98,    6, 8994,    1], dtype=int32)
  0]
 [ array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   7,  11,  16,  80,  39,  16,  26, 587,   2,
       262, 275, 136,   1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    7,   11,
         16,   80,   82,    5,   37, 2864, 4737,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          7,   15,    4,  158,   20,  664, 1911,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    3,    5,    2,
         19,   54,    8,  605,   32,  664, 1911,    1], dtype=int32)
  1]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    3,    5,    6,   41, 1108,   96,
       1128,  136,  232,   31, 2841,   29,  711,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    3,    5,    6,   41, 1108,   96,
       1128,  136,  232,   31, 2841,   29, 2360,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    3,    5,  326,
        419,  682,   14,    9,  497,   10, 1078,    1], dtype=int32)
  array([   0,    0,    3,  677,   11,    4,   26,   70, 1344,    9, 1078,
         52,    4,   45,   25,   34, 1463,  173,    3, 1463,  374,   23,
        671,  651,  374,   15,    4,  119,  117,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,   81,  664, 3091,   37,  169,   67,    1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     7,    15,   664, 13033,    49,
         169,    67,     1], dtype=int32)
  1]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,    17,    12,    69,    84,    43,   371,  6428,  1476,
        1665, 26011,     1], dtype=int32)
  array([    0,     0,     0,     0,     0,    21,    44,     6, 22630,
           9,     2,   390,   312,    31,   358,    18,   108,     8,
         135,     6,  1476,    42,     6,  1476,   445,    98,     6,
        1353,   719,     1], dtype=int32)
  0]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     3,    12,     2,   464, 27741, 38346,     9,
         944,   529,     1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    3,   12,    2,
        464,  944,  529, 3811, 3366,    9, 1521,    1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,   21, 1552,  432, 5159,    1], dtype=int32)
  array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    7,    5, 1552,  432, 3373,    1], dtype=int32)
  0]
 [ array([     0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,     59,     53,
          910,  31451, 136098,     23,   7106,      1], dtype=int32)
  array([    0,  7106,    76,   209,     2,   372,    10,   942,    52,
         196,    76,   734,     8,  7548,    81,    25,    74,    97,
          31,     2, 77884,  2027,     9,   748,    10,   840, 81874,
           5,  1085,     1], dtype=int32)
  0]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    7,  703,   11,    4,  139,   50, 6351,
          8,   32,  413,  672,  595,   22, 5024,    1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     7,   606,    49,
         104,  6351,     8,   413,   672,  6171,    13,   225, 10959,
          29,  5024,     1], dtype=int32)
  1]
 [ array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   3,   5,
       210, 195,  50,   1], dtype=int32)
  array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   3,
         5, 210, 195,   1], dtype=int32)
  1]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
          17,     5,     2,  7066,   702,  5011,   172,     8,   208,
       31435,   208,     1], dtype=int32)
  array([    0,     7,    35,     4,   667,    14,   265,   486,    39,
          20,  5305,     5,    41,  2229,     5, 10076,    13,  4462,
           5,    42,     6,   647,    29,   172,  6216,    13,  5140,
           9,   932,     1], dtype=int32)
  0]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     7,  2706,    12,     2,
       18067,    31,   166,   191,   164, 35102,     9,  5568,   222,
           2, 32231,     1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,    17,    35,  5373,   745,    31,
         261,   166,   190,  1464,    26, 15842,     2,   421, 32231,
         371,  5568,     1], dtype=int32)
  0]
 [ array([     0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,     21,     44,     58,     49,
          107,   2695,     66,     84,  19193,     26, 159528,   2693,
          705,      9,  81201,     69,  23486,      1], dtype=int32)
  array([     0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,     17,     11,     25,    249,    494,   3978,    945,
        18161,      9,      2,  27399, 141187,      1], dtype=int32)
  0]
 [ array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   3,  12,  33,  10,   2,  19, 475,
         9,   2, 132,   1], dtype=int32)
  array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   3,  12,   2,  19, 475,
         9,   2, 132,   1], dtype=int32)
  1]
 [ array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    7,   15,    6, 3272,  275,
        579,  148,   13,  789,    6, 1723,  341,    1], dtype=int32)
  array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     7,    15,     6,  3272,   275,    27,     6,
        1723, 17211,     1], dtype=int32)
  1]
 [ array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,    68,
        1513,  9010,  3118,   382, 43431,    34,   152,   382,   428,
         293,   152,     1], dtype=int32)

KeyboardInterrupt:

In [39]:
embedding_matrix = pickle.load(open('embedding_matrix.p', "rb"))

In [40]:
embedding_matrix.shape

(167999, 300)